@using Microsoft.AspNet.Identity
@model mugonnanpadx.Models.MugonMessage

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 無言ナンパ！！</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"c08f65c7-172b-4964-8e4c-8019229866aa"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("無言ナンパ！", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
            @if (Request.IsAuthenticated)
            {
                <!--ul class="nav navbar-nav">
                    <li>@Html.ActionLink("メッセージ", "#SetMessage")</li>
                </ul-->


                <!-- モーダルウィンドウを表示するボタンを設置 -->
                <!--button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#SetMessage"-->
                if(ViewBag.MenuSetMessage)
                {
                    <ul class="nav navbar-nav">
                        <li><a href="#SetMessage" data-toggle="modal">メッセージ</a></li>
                    </ul>
                }
             }
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - アトラスシステム株式会社</p>
        </footer>
    </div>
    @if (Request.IsAuthenticated)
    {    
        if(ViewBag.MenuSetMessage)
        {
        <!-- 表示されるモーダルウィンドウ -->
        <div class="modal" id="SetMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">                
                 @using (Html.BeginForm("SetMessage2","Home","",FormMethod.Post))
                    {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">登録しよう！</h4>
                    </div>
                    <div class="modal-body">
                        @Html.AntiForgeryToken()

                        <div class="form-inline">
                            @if(ViewBag.ExistData)
                            {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            }
                            <div class="form-group">
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" ,style="vertical-align:middle;" } })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger",style="vertical-align:middle;" })
                                </div>
                                <!--/div-->
                                @if(ViewBag.ExistData)
                                {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Yes)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.No)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.UserID)
                                }
                                <!--div class="form-group" -->

                                <div class="col-sm-4">
                                    @if(ViewBag.ExistData)
                                    {
                                    @Html.CheckBox("YesNoClear",false)
                                    @Html.Label("回数を0に戻す")
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*Html.ActionLink("登録！", "Index", "Home","",new { @class = "btn btn-lg btn-danger" })*@
                        <input type="submit" value="登録！" class="btn btn-lg btn-danger" style="vertical-align:middle;" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
                </div>
            </div>
        </div>
        }
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
