@model mugonnanpadx.Models.MugonMessage
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}    

@if (Request.IsAuthenticated)
{

    <form method="post" action="Home">
        @Html.AntiForgeryToken()

        <div class="form-inline">

        <div class="form-group">
            <div class="jumbotron">
                <h1>@ViewBag.Message</h1>
                <p>                    
                    @if(ViewBag.ExistData)
                    {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Message)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Yes)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.No)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UserID)
                    }

                    <input type="submit" name="YesNoButton" value="Yes" class="btn btn-lg btn-danger btn-lg" />
                    <input type="submit" name="YesNoButton" value="No" class="btn btn-lg btn-info btn-lg" />

                    <h4> 今までNoが選択された回数は @Html.DisplayFor(model => model.No) 回です。</h4>
                </p>
            </div>
        </div>
    </div>
    </form>
}
else
{
<div class="jumbotron">
    <h1>画面を見せて、思いを伝えよう！</h1>
    <p class="lead">カンタン　ツタワル　コタエル　気持ちがイキカウWebサイト</p>
    <p>
        @Html.ActionLink("いますぐ登録", "Register", "Account","",new { @class ="btn btn-primary btn-lg" })
        @Html.ActionLink("ログイン", "Login", "Account","", new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4 bg-info">
        <h2>カンタン！</h2>
        <p>メッセージを書き込んで</p>
    </div>
    <div class="col-md-4 bg-info">
        <h2>ツタワル！</h2>
        <p>画面を見せて</p>
    </div>
    <div class="col-md-4 bg-info">
        <h2>コタエル！</h2>
        <p>YesかNoか、選ぶだけ！</p>
    </div>
</div>
}
